.report {
    padding: 15px;
    margin-bottom: 100px;
}

.container-report {
    margin:auto;
}

.point-report {
    width: 100%;
    min-height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
    margin-top: 15px;
    overflow: hidden;
}

.main-text-report {
    font-weight: bold;
    font-size: 20px;

}
